:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.char-container {
  margin-top: 4rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  font-size: 18px;
}

.char-info {
  text-align: center;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.char-info:hover {
  border-radius: 9px;
  transform: translateY(-10px);
  transition: all 0.3s;
}
.char-info > img {
  border-radius: 9px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1600px) {
  .char-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1320px) {
  .char-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .char-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .char-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
